@import url('https://fonts.googleapis.com/css?family=Mali');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Mali', cursive;
    height: 100%;
}

body {
    font-size: 100%;
    background-image: linear-gradient(#2c3539, #586b73);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

h1 {
    font-size: 3em;
}

p,
label {
    font-size: 1.4em;
}

input {
    font-size: 1.4em;
    padding: 0.4em;
    font-family: 'Mali', cursive;
    width: 100%;
    box-sizing: border-box;
}

.root {
    width: 60%;
    margin: 4em auto;
    background-color: white;
    box-sizing: border-box;
    padding: 3em;
}

.random-pizza {
    box-sizing: border-box;
    padding: 0.4em 1em;
    background-color: #f012be;
    color: white;
    font-size: 2em;
    border: none;
    margin-top: 2em;
    font-family: 'Mali', cursive;
}
